
    body {
        font-family: 'Play', sans-serif;
       -webkit-font-smoothing :antialiased;
        -moz-osx-font-smoothing :grayscale;
       }


       .container {
           width: 1101px;
           margin: 0 auto;
       }


      * {
          box-sizing: border-box;
      }

      ul {
          margin: 0;
          padding: 0;
      }
