    html {
        height: 100%;

        @include tablets {
            font-size: 12px; 
        }

        @include phones {
            font-size: 11px;
        }
    }


    body {
        font-family: 'Play', sans-serif;
       -webkit-font-smoothing :antialiased;
        -moz-osx-font-smoothing :grayscale;
        height: 100%;
       }


       .container {
           width: 95%;
           max-width: 1101px;
           margin: 0 auto;
       }


      * {
          box-sizing: border-box;
      }

      ul {
          margin: 0;
          padding: 0;
      }



   //breakpoints


   $tablets: 768px;
   $phones: 480px;

