
    body {
        font-family: 'Play', sans-serif;
       -webkit-font-smoothing :antialiased;
        -moz-osx-font-smoothing :grayscale;
       }


       .container {
           width: 1101px;
           margin: 10px auto;
       }

       .color__wrapper {
           background-color: #f5f5f5;
           
       }