.about {
    height: 100vh;
    min-height: rem(650px);

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(30px);
    padding-bottom: rem(30px);
    
    @include phones {
        flex-direction: column;
        align-items: center;
    }
}


.socials {
    display: flex;
    list-style-type: none;
}


.socials__link:hover {
    opacity: 0.6;
}

.socials__item {
    margin-right: rem(12px);

    &:last-child {
        margin-right: 0;
    }
}

.adress {
    color: #000000;
    font-size: rem(18px);
    font-weight: 400;
    line-height: 24px;
}

.map {
    display: flex;
    flex: 1;
    
}

.map__image {
    width: 100%;
    object-fit: cover;
    height: 100%;
}