.advantages__list {
    display: flex;
    list-style-type: none;
}

.advantages__item {
    display: flex;
    margin-right: 50px;


    &:last-child {
        margin-right: 0;
    }
}



.advantages__text {
    width: 50px;
}
