.button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: rem(16px);
    font-weight: 700;
    text-transform: 700;
    padding-top: rem(19px);
    padding-right: rem(41px);
    padding-bottom: rem(18px);
    padding-left: rem(40px);
    background-color: #e01f3d;
    border-radius: 26px;

    &--theme--red:hover {
        color: #e01f3d;
        background-color: #ffffff;
    }

    &--theme--transparent {
        background: transparent;
        color: #999999;
        border: none;
    }

    &--theme--transparent:hover {
        color: #e01f3d;
        background-color: #ffffff;
    }
}

