.description {
    @include tablets {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include phones {
        display: flex;
        flex-direction: column;
    }
}
