.fullscreen {
    background-color: #313436;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    /*display: none;*/

}

.fullscreen__list {
    list-style-type: none;
}



.fullscreen__link {
    color: #ffffff;
    font-size: rem(36px);
    font-weight: 400;
    line-height: rem(72px);
    text-decoration: none;
}

.cross {
    position: absolute;
    top: rem(50px);
    right: rem(50px);
    cursor: pointer;
}