.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    list-style-type: none;
}

.nav__item {
    margin-right: 30px;

    &:last child {
        margin-right: 0;
    }
}

.nav__link {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.contacts__phone {
    color: #000000;
    text-decoration: none;
    position: relative;
    
    &:before {
        content: url('../../images/phone.png');
        position: absolute;
        left: -15px;
    }
}


