
.section__headphones {
    background: #f5f5f5;
    display: flex;
    align-content: stretch;


}

.section__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: rem(30px); 
}
